<!DOCTYPE html>
<html>
    <head>
    <!--    <link rel="stylesheet" href="/stylesheets/style.css" />-->
    </head>
        <body>
          <%= msg %>
          <br>
          <%= loginMsg %>
          <h1>掲示板</h1>

    </body>
    <footer>
        <a href="/user/create">アカウント作成</a>
        <br><br>
        <a href="/user/login">ユーザログイン</a>
    </footer>
</html>
